docker/db/data
docker/var
/vendor
/stubs

*.cache
storage/*
.env
.env.backup
.env.production
.env.testing
.phpunit.result.cache
auth.json
yarn-error.log
/.vscode
/.github/*.md

# Coverage files (keep badges in root)
/coverage/
*.clover
clover.xml

# Docs and scratch files
/docs
/*.txt
scratch.*
coverage/clover.xml