docker/db/data
docker/var
vendor

*.cache
/storage
/vendor
.env
.env.backup
.env.production
.env.testing
.phpunit.result.cache
auth.json
yarn-error.log
/.vscode

storage
storage/logs
storage/logs/laravel.log