docker/db/data
docker/var
/vendor
/scripts
/stubs

*.cache
storage/*
.env
.env.backup
.env.production
.env.testing
.phpunit.result.cache
auth.json
yarn-error.log
/.vscode
/.github/*.md
clover.xml

/docs
/*.txt
scratch.*